JWT_SECRET_KEY="Generate a symmetric secret key and then base 64 encode it (refer to https://github.com/jwtk/jjwt for more info)"
POSTGRES_URL=""
POSTGRES_USERNAME=""
POSTGRES_PASSWORD=""
REDIS_HOST=""
REDIS_PORT=""
REDIS_PASSWORD=""
RUST_FS_URI=""
RUST_FS_ACCESS_KEY=""
RUST_FS_SECRET_KEY=""